Source: opencpn-bsb3-xx-es
Section: non-free/misc
Priority: extra
Maintainer: free-x <oss.boating@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.opencpn.org
#Vcs-Git: git://git.debian.org/collab-maint/opencpn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/opencpn.git;a=summary

Package: opencpn-bsb3-xx-es1
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts Spain Set1.
  Cabo Creus to Cabo San Antonio 
  NOT TO BE USED FOR NAVIGATION 

Package: opencpn-bsb3-xx-es2
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts Spain Set2.
  Balearic Islands · Ibiza to Menorca 
  NOT TO BE USED FOR NAVIGATION 

Package: opencpn-bsb3-xx-es3
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts Spain Set3.
  Cabo San Antonio to Gibraltar 
  NOT TO BE USED FOR NAVIGATION 

