Source: opencpn-bsb3-xx-ns
Section: non-free/misc
Priority: extra
Maintainer: free-x <oss.boating@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.opencpn.org
#Vcs-Git: git://git.debian.org/collab-maint/opencpn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/opencpn.git;a=summary

Package: opencpn-bsb3-xx-de10
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts German Bight Set10.
  Nordfriesland - Sylt bis Helgoland & Eider
  NOT TO BE USED FOR NAVIGATION

Package: opencpn-bsb3-xx-de11
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts German Bight Set11.
  Elbe - Helgoland bis Hamburg
  NOT TO BE USED FOR NAVIGATION

Package: opencpn-bsb3-xx-de12
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts German Bight Set12.
  Weser - Bremen bis Helgoland & Jade
  NOT TO BE USED FOR NAVIGATION
  
Package: opencpn-bsb3-xx-de13
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts German Bight Set13.
  Ostfriesland - Borkum bis Helgoland & Ems
  NOT TO BE USED FOR NAVIGATION

Package: opencpn-bsb3-xx-dk09
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts North Sea Set09.
  Skagen to Rømø & Limfjord
  NOT TO BE USED FOR NAVIGATION

