Source: opencpn-bsb3-xx-fr
Section: non-free/misc
Priority: extra
Maintainer: free-x <oss.boating@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.opencpn.org
#Vcs-Git: git://git.debian.org/collab-maint/opencpn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/opencpn.git;a=summary

Package: opencpn-bsb3-xx-fr1
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set1.
  La Manche - Oostende à Cherbourg  

Package: opencpn-bsb3-xx-fr2
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set2.
  Cherbourg à St. Malo

Package: opencpn-bsb3-xx-fr3
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set3.
  St. Malo aux Sept Îles

Package: opencpn-bsb3-xx-fr4
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set4.
  Les Sept Îles à Douarnenez

Package: opencpn-bsb3-xx-fr5
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set5.
  Douarnenez à Lorient

Package: opencpn-bsb3-xx-fr6
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set6.
  Lorient à I'lle de Noirmoutier Nantes

Package: opencpn-bsb3-xx-fr7
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set7.
  Iles de Noirmoutier à Oléron - La Rochelle

Package: opencpn-bsb3-xx-fr8
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set8.
  La Rochelle à San Sebastian - Bordeaux

Package: opencpn-bsb3-xx-fr9
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set9.
  Cabo Creus to Toulon

Package: opencpn-bsb3-xx-fr10
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set10.
  Toulon to Menton - Monaco

Package: opencpn-bsb3-xx-fr11
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts France Set11.
  Corsica



