Source: opencpn-bsb3-xx-it
Section: non-free/misc
Priority: extra
Maintainer: free-x <oss.boating@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.opencpn.org
#Vcs-Git: git://git.debian.org/collab-maint/opencpn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/opencpn.git;a=summary

Package: opencpn-bsb3-xx-it1
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts Italy Set1.
  Menton to Elba 
  NOT TO BE USED FOR NAVIGATION 

Package: opencpn-bsb3-xx-it2
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts Italy Set2.
  Elba to Naples 
  NOT TO BE USED FOR NAVIGATION 

Package: opencpn-bsb3-xx-it3
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts Italy Set3.
  Sardinia East 
  NOT TO BE USED FOR NAVIGATION 

Package: opencpn-bsb3-xx-it4
Architecture: all
Depends: opencpn
Description: BSB3/KAP RNC Charts Italy Set4.
  Sardinia West 
  NOT TO BE USED FOR NAVIGATION 
